<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NubariumSDK.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A2B6023E12ACAD5EA0CF39CD08B95E4B5CEA965F</string>
				<key>dateExpires</key>
				<string>25/02/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A2B6023E12ACAD5EA0CF39CD08B95E4B5CEA965F</string>
						<key>dateExpires</key>
						<string>25/02/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Device.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y77785R5KQ</string>
						<key>name</key>
						<string>Amilcar Flores</string>
					</dict>
					<key>versionNumber</key>
					<string>3.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A2B6023E12ACAD5EA0CF39CD08B95E4B5CEA965F</string>
						<key>dateExpires</key>
						<string>25/02/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y77785R5KQ</string>
						<key>name</key>
						<string>Amilcar Flores</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A2B6023E12ACAD5EA0CF39CD08B95E4B5CEA965F</string>
						<key>dateExpires</key>
						<string>25/02/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y77785R5KQ</string>
						<key>name</key>
						<string>Amilcar Flores</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A2B6023E12ACAD5EA0CF39CD08B95E4B5CEA965F</string>
						<key>dateExpires</key>
						<string>25/02/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y77785R5KQ</string>
						<key>name</key>
						<string>Amilcar Flores</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A2B6023E12ACAD5EA0CF39CD08B95E4B5CEA965F</string>
						<key>dateExpires</key>
						<string>25/02/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y77785R5KQ</string>
						<key>name</key>
						<string>Amilcar Flores</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A2B6023E12ACAD5EA0CF39CD08B95E4B5CEA965F</string>
						<key>dateExpires</key>
						<string>25/02/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y77785R5KQ</string>
						<key>name</key>
						<string>Amilcar Flores</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A2B6023E12ACAD5EA0CF39CD08B95E4B5CEA965F</string>
						<key>dateExpires</key>
						<string>25/02/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y77785R5KQ</string>
						<key>name</key>
						<string>Amilcar Flores</string>
					</dict>
					<key>versionNumber</key>
					<string>3.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A2B6023E12ACAD5EA0CF39CD08B95E4B5CEA965F</string>
						<key>dateExpires</key>
						<string>25/02/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y77785R5KQ</string>
						<key>name</key>
						<string>Amilcar Flores</string>
					</dict>
					<key>versionNumber</key>
					<string>3.21.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A2B6023E12ACAD5EA0CF39CD08B95E4B5CEA965F</string>
						<key>dateExpires</key>
						<string>25/02/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Siesta.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y77785R5KQ</string>
						<key>name</key>
						<string>Amilcar Flores</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A2B6023E12ACAD5EA0CF39CD08B95E4B5CEA965F</string>
						<key>dateExpires</key>
						<string>25/02/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y77785R5KQ</string>
						<key>name</key>
						<string>Amilcar Flores</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Y77785R5KQ.com.nubarium.sdk</string>
				<key>com.apple.developer.team-identifier</key>
				<string>Y77785R5KQ</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>NubariumSDK.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>436e1ed9-12bc-4038-a067-11ca0fa1102f</string>
				<key>dateExpires</key>
				<string>25/02/24</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.nubarium.sdk</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Y77785R5KQ</string>
				<key>name</key>
				<string>Amilcar Flores</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
